<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
  <div class="container center">
    <h3 class="">New Author</h3>
    <form class="" action="index.html" method="post">
      <input type="text" name="" placeholder="Name" required><br>
      <input type="text" name="" placeholder="Bio" required><br>
      <button class="waves-effect waves-light btn-large" type="button" name="button">Create</button>
    </form>
  </div>
</body>

</html>
