<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>

<body>
  <div class="container">
    <div class="formCenter">
        <h3>New Book</h3>
        <form action="/addbook" method="post">
          <input type="text" name="bookTitleInput" placeholder="Title" required><br>
          <input type="text" name="imgURLInput" placeholder="IMG Url"><br>
          <input type="text" name="bookDescInput" placeholder="Description" required><br>
          <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
          <br>
          <button class="waves-effect waves-light btn-large" type="submit" name="button">Create</button>
        </form>
        <div class="">
          <a href="/newauth">Add new author</a>
        </div>
    </div>
  </div>
</body>

</html>
